.expand-feedback {
    z-index: 1024;
    position: fixed;
    top: 40%;
    left: 0px;
    display: block;
    border: 1px solid #c0392b;
    border-left: 0px;
    width: 30px;
    height: 130px;
    background-color: #e74c3c;
    background-image: url('../img/feedback.png');
    -webkit-transition: .8s 0s margin ease;
    -moz-transition: .8s 0s margin ease;
    -ms-transition: .8s 0s margin ease;
    -o-transition: .8s 0s margin ease;
    transition: .8s 0s margin ease;
}

.expand-feedback:hover {
    width: 32px;
    background-position: 2px 0px;
}

.expand-feedback.expand {
    margin-left: 550px;
}

.feedback-content {
    z-index: 512;
    width: 470px;
    min-height: 460px;
    position: fixed;
    top: 25%;
    background-color: #ecf0f1;
    padding: 0px 40px;
    border: 1px solid #c0392b;
    border-left: 0px;
    margin-left: 0px;
    -webkit-transition: .8s 0s margin ease;
    -moz-transition: .8s 0s margin ease;
    -ms-transition: .8s 0s margin ease;
    -o-transition: .8s 0s margin ease;
    transition: .8s 0s margin ease;
}

.feedback-content form > p {
    margin-top: 100px;
    text-align: center;
}

.feedback-content form > p span.glyphicon {
    font-size: 72px;
}

.feedback-content form textarea {
    resize: none;
}

.feedback-content.no-expand {
    margin-left: -551px;
}

.feedback-content.expand {
    margin-left: 0px;
}